In [5]:
import pandas as pd
import numpy as np

ser = pd.Series({"First":"Apple_사과",
                 "Second":"Banana_바나나",
                 "Third":"Cherry_체리",
                 "Fourth": np.nan})
print(ser)
print()

ser2 = pd.Series({"First":"Apple,사과",
                 "Second":"Banana,바나나",
                 "Third":"Cherry,체리",
                 "Fourth": None}, dtype = "string")
print(ser2)
print()

print(ser.str.upper())
print()
print(ser2.str.lower())
print()

print(ser.str.split("_"))
print()
print(ser2.str.split(","))
print()

# ex = pd.Series({ 'c0' : 'A:10-20,30-40,40-50',
#                 'c1' : 'B:20-50,10-40,30-50'}, dtype = "string")
# a = ex.str.split('[:\-\,]')
# print(a)

First       Apple_사과
Second    Banana_바나나
Third      Cherry_체리
Fourth           NaN
dtype: object

First       Apple,사과
Second    Banana,바나나
Third      Cherry,체리
Fourth          <NA>
dtype: string

First       APPLE_사과
Second    BANANA_바나나
Third      CHERRY_체리
Fourth           NaN
dtype: object

First       apple,사과
Second    banana,바나나
Third      cherry,체리
Fourth          <NA>
dtype: string

First       [Apple, 사과]
Second    [Banana, 바나나]
Third      [Cherry, 체리]
Fourth              NaN
dtype: object

First       [Apple, 사과]
Second    [Banana, 바나나]
Third      [Cherry, 체리]
Fourth             <NA>
dtype: object

In [23]:
df = ser.str.split("_",expand = True)
get_1 = ser.str.split("_").str.get(0)
ser1 = pd.Series(['a-10-b', 'a1-20-b2'], index=['c0','c1'],dtype="string")
ser1_s = ser1.str.split("_").str.get(1)
print(ser1_s)
ser1_2_s = ser1.str.split("[:\-]")

c0   NaN
c1   NaN
dtype: float64

<>:6: SyntaxWarning: invalid escape sequence '\-'
<>:6: SyntaxWarning: invalid escape sequence '\-'
C:\Users\607-11\AppData\Local\Temp\ipykernel_9032\3279337141.py:6: SyntaxWarning: invalid escape sequence '\-'
  ser1_2_s = ser1.str.split("[:\-]")

In [33]:
idx = ser.index
idx.str.strip()
idx.str.lstrip()
idx.str.rstrip()

Index(['First', 'Second', 'Third', 'Fourth'], dtype='object')

In [ ]:
# 정규 표현식 : 문자열의 패턴을 코드해서 패턴에 맞는 것 검색하기

In [43]:
ser.str.replace("[^a-zA-Z\s]", "", regex = True)
ser.str.replace("[a-zA-Z\-]", "", regex = True)
ser.str.replace("[^가-힣]", "", regex = True)

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\-'
<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\-'
C:\Users\607-11\AppData\Local\Temp\ipykernel_9032\144530553.py:1: SyntaxWarning: invalid escape sequence '\s'
  ser.str.replace("[^a-zA-Z\s]", "", regex = True)
C:\Users\607-11\AppData\Local\Temp\ipykernel_9032\144530553.py:2: SyntaxWarning: invalid escape sequence '\-'
  ser.str.replace("[a-zA-Z\-]", "", regex = True)

First      사과
Second    바나나
Third      체리
Fourth    NaN
dtype: object

In [45]:
ser
ser.str[-1:-3:-1]

First      과사
Second     나나
Third      리체
Fourth    NaN
dtype: object

In [47]:
ser.str.contains('A', na = False) # ser안에 'A'가 있는지 검색
ser.str.contains(r'[A|B][a-z]+') # r-정규표현식 regex, [A|B] -첫 글자가 A 또는 B [a-z] 두번째

First      True
Second     True
Third     False
Fourth      NaN
dtype: object

In [53]:
import re
pattern = r'[A|C][a-z]+'
test_string = ['Apple', 'Cat', 'Hello', 'Bat', 'A']
for s in test_string :
    match = re.match(pattern, s)
    print(match)

<re.Match object; span=(0, 5), match='Apple'>
<re.Match object; span=(0, 3), match='Cat'>
None
None
None

In [100]:
#
ser3 = pd.Series(['a1', 'b2', 'c3', 'd4e5f9', 'e6f7', 'f8'], dtype = "string")
# 숫자만 추출하기
digits = ser3.str.extractall(r"(\d)").groupby(level=0).agg(','.join)
digits
# 알파벳만 추출하기
letters = ser3.str.extractall(r"([a-z])").groupby(level=0).agg(','.join)
letters 
# 대문자 추출기기
ser4 = pd.Series(['A1', 'B2', 'C3', 'D4E5F9', 'E6F7', 'F8'], dtype = "string")
alphabet = ser4.str.extractall(r"([A-Z])").groupby(level=0).agg(','.join)
alphabet
# 한글 추출기기
ser5 = pd.Series(['가1', '나2', '다3', '라4마5바9', '마6바7', '바8'], dtype = "string")
korean = ser5.str.extractall(r"([가-하])").groupby(level=0).agg(','.join)
korean

       0
0      가
1      나
2      다
3  라,마,바
4    마,바
5      바

In [102]:
# 숫자와 문자를 따로 분리해서
split_columns = ser3.str.extract(r"(?P<문자>[a-z]+)(?P<숫자>\d+)")
# ?P<name> - 열의 이름을 할당하는 코드
print(split_columns)

split_columns = ser3.str.extractall(r"(?P<Letter>[a-z]+)(?P<Digit>\d+)").groupby(level=0).agg("".join)
split_columns

  문자 숫자
0  a  1
1  b  2
2  c  3
3  d  4
4  e  6
5  f  8

  Letter Digit
0      a     1
1      b     2
2      c     3
3    def   459
4     ef    67
5      f     8